---
import Base from "../layouts/Base.astro";
---
<Base title="About – Builder Name" description="Learn about the builder.">
  <h1 class="mb-4 text-3xl font-bold">About</h1>
  <p>Um fyritøkuna. SP- Hegni er stovna av S Petur Eiriksson. Vit útvega gott handverk og hava væl nøgdar kundar
</p>
</Base>
